.image {
    width: 80px;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    cursor: pointer;
}
.largeImg {
   width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}
.title {
    font-size: 20px;
    margin: 0;
}
.readMoreLink{
    background-color: transparent;
    color: #0000de;
    border: none;
    padding: 0 5px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.closeBtn{
    position: absolute;
    top: 0;
    right: 0;
}